.product-menu-item {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.navLinkContainer {
  display: flex;

}

.cardNavLink {
  height: 60px;
  margin-top: 20px;
  background-color: var(--color-bg-tertiary);
  display: flex;
  align-items: center;
}