header {

  background-color: var(--color-bg-secondary);
  color: var(--color-font-primary);


}

.header2 {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding-top: 26px;
  padding-bottom: 25px;

}

.menu-item {
  padding-right: 26px;
  font-size: 16px;
}

.menu-active {
  font-weight: 700;
}

img {
  width: 30px;
  height: 30px;

}

.navbar {
  align-items: center;
  text-align: center;
}